.btn-blue {
	background-color: #000000ba;
	color: white;
	padding: 15px 20px;
	border-radius: 5px;
	font-weight: bold;
}

.btn-blue:hover {
	background-color: #ed5f42b0;
	color: black;
	padding: 15px 20px;
	border-radius: 5px;
	font-weight: bold;
}